/*----------------------FONTS-----------------------*/
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-ThinItalic.ttf); 
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/*---------------------RESET------------------------*/
* {
    margin: 0; 
    padding: 0;
    outline: 0;  
    border: 0;
    box-sizing: border-box; 
} 

*,
::after
::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*----------------------COLORS------------------------*/
:root {
    --body-background: #353733;
    --base-color-gray: #353733;
    --base-color-green: #464f34;
    --base-color-violet: #6600354f;
    --border-color: #660035c2;
    --color-link: #e29300;
    --color-link-hover: #6d7d4b;
    --transition-duration: .3s;
    --transition-font: .7s;
}

/*------------------------BODY------------------------*/
html, body {
    background-color: var(--body-background);
    font: 300 16px "Raleway", sas-serif;
    scroll-behavior: smooth;
}

/*------------------------CONTAINER------------------*/
.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

/*--------------------------BUTTON---------------------*/
.header__btn {
    display: none;
    position: relative;
    top: 50px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--body-background);
    border-radius: 5px;
    z-index: 2;
}

.header__btn-line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-link);
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__btn .header__btn-line:nth-child(1) {
    transform: translateY(10px);
}

.header__btn .header__btn-line:nth-child(3) {
    transform: translateY(-10px);
}

.header.open .header__btn-line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__btn-line:nth-child(2) {
    opacity: 0;
}

.header.open .header__btn-line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}



/*------------------------HEADER----------------------*/
.header {
    margin-top: 40px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.menu__link {
    color: var(--color-link);
    transition: color var(--transition-duration);
    transition: font-size var(--transition-font);
}

.menu__link:hover {
   color: var(--color-link-hover);
   font-size: 20px;
}

/*------------------------WELCOME------------------------*/
.title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    grid-column-gap: 0;
    margin-top: 90px;
}

.title :nth-child(3) {
   grid-column: 1 / 4; 
}

.title__left-img {
    opacity: .5;
    border: 5px solid var(--base-color-green);
    border-radius: 50px;
}

.title__right {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 82px;
    color: var(--color-link);
}

.title__right-top {
    font-size: 30px;
}

.title__bottom {
    text-align: center;
    padding: 115px 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--base-color-green);
    font-size: 35px;
    color: var(--color-link);
}

/*-------------------------ABOUT ME-----------------*/
.about-me__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-image: url(../img/aboutme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 3px solid #000;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-me__container :nth-child(1) {
   grid-column: 1 / 6; 
}

.about-me__title {
    display: flex;
    text-align: center;
    padding: 0 50px;
    padding-top: 30px;
    margin-bottom: 400px;
    color: var(--base-color-gray);
    transition: color var(--transition-duration);
}

.about-me__title:hover {
    color: var(--color-link);
}

.about-me__description {
   color: #000;
   font-weight: 600;
   font-size: 18px;
   transition: color var(--transition-duration);
}

.about-me__description:hover {
    color: #FFF;
    box-shadow: 0px 0px 30px 20px var(--base-color-gray);
    background-color: var(--base-color-gray);
    opacity: .7;
}

/*------------------------RUNNING LINE------------------*/
.services__running-line {
   margin: 0;
}

.services__title-line {
    font-size: 46px;
    color: #000;
}

/*--------------------------MY SERVICES-------------------*/
.services__container {
    margin-top: 10px;
    padding-top: 40px;
    background-color: var(--base-color-violet);
    border: 3px solid #000;
    border-radius: 50px;
}

.services__title {
    width: max-content;
    margin: 0px auto 0;
    color: #000;
    font-size: 30px;
}

.services__list {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    
}

/*------------------------CARD-------------------*/
.card {
    border: 3px solid #000;
    border-radius: 20px;
    background-color: var(--body-background);
    height: 100%;
    overflow: hidden;
    transition: transform .3s ease;
}

.card:hover {
    transform: scale(1.1)
}

.card__img {
    opacity: .6;
}

.card__title {
    display: flex;
    justify-content: center;
}

.card__list {
    padding: 10px;
    color: var(--color-link);
}

/*----------------------PRICE--------------------*/
.price__container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: #464f34;
    border: 3px solid var(--base-color-violet);
    border-radius: 50px;
}

.price__title {
    max-width: 400px;
    margin: 20px 0 0 20px;
    color: var(--border-color);
}

.price__subtitle {
    max-width: 400px;
    margin: 10px 0 0 20px;
    color: #FFF;
    font: 300 12px "Raleway", sas-serif;
}
    
.price__name {
    margin: 0 auto;
    font-size: 30px;
    margin-top: 50px;
    color: var(--border-color);
}

/*------------------------TABLE-----------------------*/
.table {
    min-width: 900px;
    margin: 30px auto; 
    color: #FFF;    
    box-shadow: -3px 0px 50px 20px #353733;      
    border-collapse: collapse;

    thead>tr {
       background-color: rgb(0, 0, 0, .13);
    }

    th,
    td {
        border: 1px solid #000;
        padding: 20px 10px;
        text-align: center;
    }

    caption {
        caption-side: bottom;
        margin-top: 30px;
        color: #000;
        font-size: 14px;
    }
    .price__caption-title {
        color: #fff;
    }
}

/*---------------------------REVIEWS-------------------*/
.reviews__container {
    margin-top: 10px;
    background-color: #4b5732;
    opacity: .7;
    border: 3px solid var(--border-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.reviews__title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: var(--border-color);
    font-size: 50px;
}

/*---------------------------SLIDER--------------------*/
.reviews__slider{
   display: flex;
   max-width: 715px;
   margin: 0 auto;
   gap: 13px;
   overflow-y: hidden;
   overflow-x: auto;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
} 


.reviews__slider::-webkit-scrollbar {
   display: none;
}

.reviews__slider > * {
   flex-shrink: 0;
   scroll-snap-align: start;
}

.slide {
    height: 400px;
    border-radius: 10px;
    margin: 50px 0;
    border: 3px solid var(--border-color);
}

/*---------------------------FOOTER-------------------*/
.footer__elements {
    display: grid;
    grid-template-columns: 6fr 5fr 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
    padding-left: 25px;
    padding-bottom: 15px;
    background-color:var(--base-color-violet);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer__elements :nth-child(7) {
   grid-column: 2 / 6; 
}

.footer__elements-nav {
    margin-top: 10px;
}

.footer__elements-logo {
    height: 55px;
}

.footer__btn {
    display: flex;
    justify-content: center;
    width: 170px;
    background-color: var(--base-color-violet);
    border: 2px solid #000;
    border-radius: 5px;
    transition: .5s;
}

.footer__btn:hover {
    box-shadow: inset 0px 0px 15px 0px;

}

.footer__btn-link {
    font-size: 11px;
    color: #000;
    font-weight: 600;
    padding: 15px 0;
}

.footer__elements-icon {
    width: 50px;
}

.footer__elements-mark {
    padding-left: 17px;
    padding-top: 25px;
    font-size: 10px;
    color: #fff;
}

.footer__elements-tel {
    font-size: 24px;
    color: #000;
}

/*-----------------------MOBILE ADAPTIVE 960px---------------*/
/*----------------------------HEADER-------------------*/
@media (max-width: 960px) {
    .header {
        position: relative;
        top: 90px;
        margin-top: 0;
    }

    .container {
        position: relative;
        top: -130px;
        left: 0px;
        padding: 0;
    }   
    
    .header__btn {
        display: block;
    }

    .menu {
        position: absolute;
        left: -200px;
        top: 45px;
        width: 200px;
        padding: 85px 10px 10px 10px;
        background-color: var(--base-color-green);
        opacity: .7;
        transition: transform .5s;
        z-index: 1;
    }

    .menu__list {
        display: block;
    }

    .menu__link {
        display: block;
        padding: 10px 0;
        font-size: 18px;
    }

    .header.open .menu {
        transform: translateX(100%);
    }

    /*---------------------------WELCOME----------------------*/
    .title {
        position: relative;
        top: 0px;
        left: 0;
        display: block;
        
    }

    .title__left-img {
        border-radius: 0px;
    }

    .title__right {
        position: relative;
        top: -170px;
        padding: 0;
        padding-left: 10px;
        margin: 0 auto;
        font-size: 36px;
    }

    .title__right-top {
        font-size: 16px;
    }

    .title__bottom {
        position: relative;
        top: -100px;
        padding-top: 10px;
        padding-bottom: 30px;
        border-radius: 0;
        font-size: 18px;
    }

    /*-------------------------ABOUT ME-----------------*/
    .about-me__container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px 20px;
        position: relative;
        top: -100px;
        border-radius: 0;
        background-position: 35%;
    }

    .about-me__title {
        text-align: center;
        padding: 10px 5px;
        font-size: 18px;
        margin-bottom: 170px;
    }   

    .about-me__description {
        
        font-size: 14px;
    }

    /*------------------------RUNNING LINE------------------*/
    .services__running-line {
        margin: 0;
    }

    .services__title-line {
        font-size: 36px;
        color: #000;
    }

    /*--------------------------MY SERVICES-------------------*/
    .services__container {
        margin-top: -105px;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .services__title {
        text-align: center;
        width: 90%;
        font-size: 24px;
        margin-bottom: 35px;
    }

    .services__list {
        display: grid; 
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0;
        margin: 0 50px;
    }

    .services__item {
        margin-bottom: 25px;
    }
    /*----------------------PRICE--------------------*/
    .price__container {
        display: flex;
        text-align: center;
        align-items: center;
        border-radius: 0px;
        margin: 0;
    }

    .price__title {
        padding-top: 20px;
    }

    .price__name {
        font-size: 40px;
        margin: 15px 0;
    }

    .price__subtitle {
        margin: 5px 0 0 0;
    }

    /*---------------------------TABLE---------------------*/
    .table {
        min-width: 200px;
        margin-top: 5px;
    }

    /*---------------------------REVIEWS-------------------*/
    .reviews__container {
        margin: 0 0;
        background-color: #4b5732;
        opacity: .7;
        border: 3px solid var(--border-color);
        border-radius: 0;
        padding-bottom: 30px;
    }

    .reviews__title {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-top: 50px;
        color: var(--border-color);
        font-size: 50px;
    }
    /*---------------------------SLIDER--------------------*/
    .reviews__slider{
        max-width: 290px;
    }

    .slide {
        height: 500px;
        margin: 20px 0;
    }

    /*--------------------------FOOTER-----------------------*/
    .footer__elements {
        position: absolute;
        width: 100%;
    }
}

/*-----------------------MOBILE ADAPTIVE 555px---------------*/
@media (max-width: 555px) {
    /*------------------------FOOTER--------------------*/
    .footer__elements {
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        margin-top: 0;
    }

    .footer__elements :nth-child(7) {
        grid-column:  1 / 2; 
    }

    .footer__elements :nth-child(3) {
        grid-column:  1 / 3; 
    }

    .footer__elements :nth-child(4) {
        grid-row:  2 / 4; 
    }

    .footer__elements :nth-child(5) {
        grid-row:  2 / 3; 
    }

    .inst {
        position: relative;
        bottom: 15px;
    }

    .footer__elements-tel {
        display: contents;
        font-size: 18px;
    }
}
